@import "tailwindcss";

@theme {
  --color-primaryGreen: #35d399;
  --color-primaryGreen-dark: #2db482;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.default-green-bg {
  background-color: #35d399;
}

.dark-green-bg {
  background-color: #2db482;
}

.col-centered {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.delay1 {
  animation-delay: 0.15s;
}

.delay2 {
  animation-delay: 0.3s;
}

.delay3 {
  animation-delay: 0.45s;
}

.delay4 {
  animation-delay: 0.6s;
}

.nav-top-hidden {
  top: -160px;
}

.nav-top-visible {
  top: 0px;
}

.hover-padding:hover {
  padding: 1.5rem;
}

.move-up-slightly {
  position: relative;
  top: 0px;
  transition: all 0.3s ease-out;
}

.move-up-slightly:hover {
  top: -6px;
}

.project-picture {
  background-size: cover;
  background-repeat: no-repeat;
}

.animal-demo {
  background-image: url("./img/dummy.jpg");
}

.custom-textarea {
  height: 210px;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by most browsers */
}

.underline--magical {
  /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
  background-image: linear-gradient(120deg, #35d399 0%, #35d399 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.25em;
  background-position: 0 89%;
  transition: background-size 0.2s ease-in;
  padding-right: 7px;
  padding-left: 3px;
}

.underline--magical:hover {
  background-size: 100% 89%;
  padding-top: 3px;
}

.underline--magical-2 {
  /*background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);*/
  background-image: linear-gradient(120deg, #fde68a 0%, #fde68a 100%);

  background-repeat: no-repeat;
  background-size: 100% 0.25em;
  background-position: 0 89%;
  transition: background-size 0.2s ease-in;
  padding-right: 7px;
  padding-left: 3px;
  padding-top: -20px;
}

.underline--magical-2:hover {
  background-size: 100% 89%;
  padding-top: 3px;
}

@media only screen and (max-width: 413px) {
  .contact-me-inactive {
    bottom: -170%;
  }
}

@media only screen and (max-height: 500px) {
  .contact-me-inactive {
    bottom: -500%;
  }
}
